/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes halfFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: .25; } }

@keyframes halfFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: .25; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  width: 100vw;
  height: 100vh;
  position: relative; }
  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -.25em; }

.landing__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/landing-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: .001;
  -webkit-animation-name: halfFadeIn;
          animation-name: halfFadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.landing {
  width: 100%;
  display: inline-block;
  vertical-align: middle; }

.landing__identity {
  width: 12.375em;
  height: 11.5625em;
  margin: 0 auto;
  position: relative; }
  .landing__identity span {
    display: none; }
  .landing__identity .is-old {
    display: block;
    width: 2.5625em;
    height: 2.875em;
    background-image: url("../img/old_logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 6.75em;
    left: 5.0625em;
    z-index: 3;
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  .landing__identity .is-new {
    display: block;
    width: 12.375em;
    height: 11.5625em;
    background-image: url("../img/new_logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

.landing__title {
  text-align: center;
  margin-top: 5em;
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .landing__title .is-main {
    display: block;
    font-family: "klavika-web-display";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3.75em;
    line-height: 1; }
  .landing__title .is-secondary {
    display: block;
    font-family: BentonModernDisp;
    font-size: 1.875em;
    line-height: 1;
    color: rgba(0, 0, 0, 0.9); }

.landing__message {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .landing__message p {
    font-family: "Benton Modern";
    font-size: 1.125em;
    line-height: 1;
    margin: 0;
    display: inline-block;
    background: white;
    color: rgba(0, 0, 0, 0.75);
    padding: 0.4em 0.5em 0.5em; }
  .landing__message .is-dribbble-link {
    color: #EA4C89; }
    .landing__message .is-dribbble-link:hover {
      color: #ef7aa7; }

.landing__links {
  position: absolute;
  top: 1em;
  right: 1em;
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.landing__links__item {
  display: inline-block; }
  .landing__links__item:not(:last-child) {
    margin-right: .5em; }
  .landing__links__item a {
    display: block;
    opacity: .5; }
    .landing__links__item a:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-size: cover; }
    .landing__links__item a span {
      display: none; }
    .landing__links__item a:hover {
      opacity: 1; }
  .landing__links__item.is-contact a:before {
    width: 1.5em;
    height: 1.375em;
    background-image: url("../img/icons/paper-plane.svg"); }
  .landing__links__item.is-twitter a:before {
    width: 1.5em;
    height: 1.1875em;
    background-image: url("../img/icons/twitter.svg"); }
/*# sourceMappingURL=landing.css.map */