/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 30px;
  margin-right: 30px; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 540px) and (max-width: 680px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-left: 30px;
      margin-right: 30px; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 680px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 820px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 960px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1100px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1240px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1380px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 50;
  background: #fff;
  margin-left: -30px;
  margin-right: -30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 1px; }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 680px) {
    .header {
      position: static;
      width: auto;
      height: auto;
      max-width: 100%;
      overflow: hidden;
      background: transparent;
      margin-left: 0;
      margin-right: 0;
      box-shadow: none; } }

.header__brand::after {
  clear: both;
  content: "";
  display: table; }

@media (min-width: 680px) {
  .header__brand {
    width: 17.6470588235%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; } }

@media (min-width: 820px) {
  .header__brand {
    width: 14.6341463415%; } }

@media (min-width: 960px) {
  .header__brand {
    width: 12.5%; } }

@media (min-width: 1100px) {
  .header__brand {
    width: 10.9090909091%; } }

@media (min-width: 1240px) {
  .header__brand {
    width: 9.6774193548%; } }

@media (min-width: 1380px) {
  .header__brand {
    width: 8.6956521739%; } }

.header__brand__logo {
  float: left;
  width: 60px;
  height: 60px; }
  .header__brand__logo a {
    font-size: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/new_logo.svg");
    background-repeat: no-repeat;
    background-size: 33px 30px;
    background-position: center; }
  @media (min-width: 680px) {
    .header__brand__logo {
      float: none;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      background: rgba(216, 216, 216, 0.25);
      overflow: hidden;
      margin-top: 20px;
      margin-bottom: 20px; }
      .header__brand__logo a {
        font-size: 0;
        display: block;
        width: 43px;
        height: 40px;
        background-size: cover;
        margin-left: 18.5px;
        margin-top: 20px; } }

.header__brand__social {
  float: right;
  width: auto;
  margin-top: .6em;
  margin-right: .6em; }
  @media (min-width: 680px) {
    .header__brand__social {
      float: none;
      margin-top: 0;
      margin-right: 0; } }

.header__brand__social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em; }
  .header__brand__social__item a {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    opacity: .35; }
  .header__brand__social__item a:hover {
    opacity: 1; }
  .header__brand__social__item.is-email a {
    width: 21px;
    height: 14px;
    background-image: url("../img/icons/letter.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-twitter a {
    width: 20px;
    height: 16px;
    background-image: url("../img/icons/twitter.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-dribbble a {
    width: 19px;
    height: 19px;
    background-image: url("../img/icons/dribbble.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-github a {
    width: 20px;
    height: 19px;
    background-image: url("../img/icons/github.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-nav a {
    width: 16px;
    height: 14px;
    background-image: url("../img/icons/menu.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-dribbble, .header__brand__social__item.is-github {
    display: none; }
  @media (min-width: 680px) {
    .header__brand__social__item {
      display: block;
      margin-right: 0;
      text-align: center; }
      .header__brand__social__item:not(:last-child) {
        margin-bottom: .5em; }
      .header__brand__social__item.is-dribbble, .header__brand__social__item.is-github {
        display: block; }
      .header__brand__social__item.is-nav {
        display: none; } }

.header__nav {
  display: none; }
  @media (min-width: 680px) {
    .header__nav {
      display: block;
      position: absolute;
      left: 20.5882352941%;
      top: 0;
      width: auto;
      height: 120px; } }
  @media (min-width: 820px) {
    .header__nav {
      left: 17.0731707317%;
      width: auto; } }
  @media (min-width: 960px) {
    .header__nav {
      left: 14.5833333333%;
      width: auto; } }
  @media (min-width: 1100px) {
    .header__nav {
      left: 12.7272727273%;
      width: auto; } }
  @media (min-width: 1240px) {
    .header__nav {
      left: 11.2903225806%;
      width: auto; } }
  @media (min-width: 1380px) {
    .header__nav {
      left: 10.1449275362%;
      width: auto; } }

@media (min-width: 680px) {
  .header__nav__item {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 120px; }
    .header__nav__item:not(:last-child) {
      margin-right: 1.5em; }
    .header__nav__item a {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none; }
    .header__nav__item a:hover {
      color: rgba(0, 0, 0, 0.75); }
    .header__nav__item .is-active a {
      color: #000; }
    .header__nav__item.is-hire a {
      color: #6441A5;
      line-height: 1;
      border-bottom: 1px solid rgba(100, 65, 165, 0.35); } }

.content {
  padding-top: 100px; }
  @media (min-width: 680px) {
    .content {
      padding-top: 0;
      margin-top: 120px;
      margin-left: 20.5882352941%; } }
  @media (min-width: 820px) {
    .content {
      margin-left: 17.0731707317%; } }
  @media (min-width: 960px) {
    .content {
      margin-left: 14.5833333333%; } }
  @media (min-width: 1100px) {
    .content {
      margin-left: 12.7272727273%; } }
  @media (min-width: 1240px) {
    .content {
      margin-left: 11.2903225806%; } }
  @media (min-width: 1380px) {
    .content {
      margin-left: 10.1449275362%; } }

@media (min-width: 680px) and (max-width: 820px) {
  .content__main {
    max-width: 100%;
    margin-right: 30px; } }

@media (min-width: 820px) {
  .content__main {
    max-width: 79.4117647059%; } }

@media (min-width: 960px) {
  .content__main {
    max-width: 65.8536585366%; } }

@media (min-width: 1100px) {
  .content__main {
    max-width: 56.25%; } }

@media (min-width: 1240px) {
  .content__main {
    max-width: 49.0909090909%;
    position: relative;
    left: calc(100% - 1100px); } }

@media (min-width: 1380px) {
  .content__main {
    max-width: 43.5483870968%;
    left: 11.2903225806%; } }

.content__aside {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: #6441A5; }
  @media (min-width: 820px) {
    .content__aside {
      display: block;
      width: 14.6341463415%; }
      .is-collage-activated .content__aside {
        left: 120px;
        right: 0;
        z-index: 9999;
        -webkit-transform: rotate(0);
                transform: rotate(0); } }
  @media (min-width: 960px) {
    .content__aside {
      width: 27.0833333333%;
      box-sizing: content-box;
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
      -webkit-transform-origin: left bottom;
              transform-origin: left bottom;
      top: -50px;
      bottom: -50px;
      right: -50px;
      padding-right: 50px; } }
  @media (min-width: 1100px) {
    .content__aside {
      width: 23.6363636364%; } }
  @media (min-width: 1240px) {
    .content__aside {
      width: 32.2580645161%; } }
  @media (min-width: 1380px) {
    .content__aside {
      width: 28.9855072464%; } }

.content__aside__collage img {
  display: block; }

.content__aside__collage:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: rgba(100, 65, 165, 0.925); }

.is-activated .content__aside__collage:before {
  background: none; }

.content__main__title {
  font-family: "klavika-web-display";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.5;
  padding-bottom: .3em;
  margin-bottom: 1.25em;
  position: relative; }
  .content__main__title:after {
    content: '';
    width: 1.75em;
    height: 0;
    border-bottom: 5px solid #ecd200;
    position: absolute;
    bottom: 0;
    left: 0; }
  @media (min-width: 540px) {
    .content__main__title {
      font-size: 60px;
      padding-bottom: .2em;
      margin-bottom: .75em; } }
  @media (min-width: 820px) {
    .content__main__title {
      font-size: 72px;
      padding-bottom: .1em;
      margin-bottom: .6em;
      padding-top: .5em; } }

.content__main__intro {
  font-family: "Benton Modern";
  font-size: 18px;
  line-height: 1.333; }
  @media (min-width: 540px) {
    .content__main__intro {
      font-size: 20px; } }
  @media (min-width: 820px) {
    .content__main__intro {
      font-family: BentonModernDisp;
      font-size: 24px;
      line-height: 1.333; } }

.content__main__text {
  font-family: "Benton Modern";
  font-size: 1.125em;
  line-height: 1.5; }
  .content__main__text h2 {
    font-family: "Benton Sans";
    font-style: normal;
    font-weight: 900;
    margin-bottom: .75em;
    margin-top: 2em; }

.content__main__meta__wrapper {
  left: calc(100% - 1100px); }
  @media (min-width: 960px) {
    .content__main__meta__wrapper {
      -webkit-transform: skewX(4deg);
              transform: skewX(4deg);
      position: relative;
      z-index: 10;
      overflow: hidden;
      width: 112.962962963%;
      margin-left: -10px;
      left: -3.7037037037%; } }
  @media (min-width: 1100px) {
    .content__main__meta__wrapper {
      width: 138.888888889%;
      left: -3.7037037037%; } }
  @media (min-width: 1240px) {
    .content__main__meta__wrapper {
      left: calc(-100% + 520px); } }
  @media (min-width: 1380px) {
    .content__main__meta__wrapper {
      left: -25.9259259259%; } }

.content__main__meta {
  background: #291254;
  color: #fff;
  position: relative;
  z-index: 10;
  margin: 1.75em -30px 0;
  padding: 30px; }
  @media (min-width: 680px) {
    .content__main__meta {
      margin-left: 0;
      margin-right: 0; } }
  @media (min-width: 820px) {
    .content__main__meta {
      width: 112.962962963%;
      margin-left: -3.7037037037%; }
      .content__main__meta::after {
        clear: both;
        content: "";
        display: table; } }
  @media (min-width: 960px) {
    .content__main__meta {
      -webkit-transform: skewX(-4deg);
              transform: skewX(-4deg);
      width: 100%;
      margin-left: 10px; } }
  @media (min-width: 1380px) {
    .content__main__meta {
      margin-left: -25.9259259259%; } }

.content__main__meta__item {
  font-size: 14px;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075); }
  .content__main__meta__item::after {
    clear: both;
    content: "";
    display: table; }
  .content__main__meta__item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }
  .content__main__meta__item .is-label {
    width: 46.1538461538%;
    float: left;
    margin-right: 7.6923076923%;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.5); }
  .content__main__meta__item .is-definition {
    width: 46.1538461538%;
    float: right;
    margin-right: 0; }
  @media (min-width: 820px) {
    .content__main__meta__item {
      width: 30%;
      float: left;
      margin-right: 5%;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0; }
      .content__main__meta__item:last-child {
        float: right;
        margin-right: 0; }
      .content__main__meta__item .is-label, .content__main__meta__item .is-definition {
        display: block;
        float: none;
        margin-right: 0;
        width: 100%; }
      .content__main__meta__item .is-label {
        margin-bottom: .75em; } }

@media (min-width: 680px) and (max-width: 820px) {
  .works {
    width: 100%;
    margin-right: 30px; } }

@media (min-width: 820px) {
  .works {
    width: 79.4117647059%; } }

@media (min-width: 960px) {
  .works {
    width: 65.8536585366%; } }

@media (min-width: 1100px) {
  .works {
    width: 56.25%; } }

@media (min-width: 1240px) {
  .works {
    width: 74.5454545455%; } }

@media (min-width: 1380px) {
  .works {
    max-width: 66.1290322581%;
    margin-left: 11.2903225806%; } }

@media (min-width: 680px) and (max-width: 820px) {
  .works__list {
    margin-right: 30px; } }

@media (min-width: 680px) {
  .works__list::after {
    clear: both;
    content: "";
    display: table; } }

.works__list__item {
  width: 46.1538461538%;
  float: left;
  margin-right: 7.6923076923%;
  margin-bottom: 7.6923076923%;
  position: relative; }
  .works__list__item:before {
    content: '';
    display: block;
    padding-top: 56.25%; }
  .works__list__item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    font-size: 0; }
  .works__list__item.is-worldly a {
    background-image: url("../img/logos/worldly.svg");
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position: center; }
    .works__list__item.is-worldly a:hover {
      border-color: #ecd200; }
  .works__list__item.is-thread-council a {
    background-image: url("../img/logos/thread_council.svg");
    background-repeat: no-repeat;
    background-size: 130px 83px;
    background-position: center; }
    .works__list__item.is-thread-council a:hover {
      border-color: #000; }
  .works__list__item.is-consignd a {
    background-image: url("../img/logos/consignd.svg");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center; }
    .works__list__item.is-consignd a:hover {
      border-color: #000; }
  .works__list__item.is-tanga a {
    background-image: url("../img/logos/tanga.svg");
    background-repeat: no-repeat;
    background-size: 80px 61px;
    background-position: center; }
    .works__list__item.is-tanga a:hover {
      border-color: #37B6E3; }
  .works__list__item.is-stayful a {
    background-image: url("../img/logos/stayful.svg");
    background-repeat: no-repeat;
    background-size: 170px 17.5px;
    background-position: center; }
    .works__list__item.is-stayful a:hover {
      border-color: #000; }
  .works__list__item.is-educabilia a {
    background-image: url("../img/logos/educabilia.svg");
    background-repeat: no-repeat;
    background-size: 161px 40px;
    background-position: center; }
    .works__list__item.is-educabilia a:hover {
      border-color: #c4d367; }
  .works__list__item.is-wulia a {
    background-image: url("../img/logos/wulia.svg");
    background-repeat: no-repeat;
    background-size: 75px 75px;
    background-position: center; }
    .works__list__item.is-wulia a:hover {
      border-color: #1593a5; }
  .works__list__item.is-gamamia a {
    background-image: url("../img/logos/gamamia.svg");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center; }
    .works__list__item.is-gamamia a:hover {
      border-color: #fa5555; }
  .works__list__item:nth-child(2n) {
    float: right;
    margin-right: 0; }
  @media (min-width: 680px) {
    .works__list__item {
      width: 48.1481481481%;
      float: left;
      margin-right: 3.7037037037%;
      margin-bottom: 3.7037037037%; }
      .works__list__item:nth-child(2n) {
        float: right;
        margin-right: 0; } }
  @media (min-width: 1240px) {
    .works__list__item {
      width: 31.7073170732%;
      float: left;
      margin-right: 2.4390243902%;
      margin-bottom: 2.4390243902%; }
      .works__list__item:nth-child(2n) {
        width: 31.7073170732%;
        float: left;
        margin-right: 2.4390243902%; }
      .works__list__item:nth-child(3n + 2) {
        float: right;
        margin-right: 0; }
      .works__list__item:nth-child(1) {
        width: 48.7804878049%;
        float: left;
        margin-right: 2.4390243902%; }
      .works__list__item:nth-child(2) {
        width: 48.7804878049%;
        float: right;
        margin-right: 0; } }

.works__title {
  font-family: "klavika-web-display";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1; }
  @media (min-width: 540px) {
    .works__title {
      font-size: 60px; } }

.works__subtitle {
  font-family: "Benton Modern";
  font-size: 18px;
  line-height: 1.333;
  color: rgba(0, 0, 0, 0.8); }
  @media (min-width: 540px) {
    .works__subtitle {
      font-size: 20px; } }
  @media (min-width: 820px) {
    .works__subtitle {
      font-family: BentonModernDisp;
      font-size: 24px;
      line-height: 1.333; } }
/*# sourceMappingURL=martinbavio.css.map */