/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  margin-left: 30px;
  margin-right: 30px; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 540px) and (max-width: 680px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-left: 30px;
      margin-right: 30px; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 680px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 820px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 960px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1100px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1240px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 1380px) {
    .container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }

.page {
  padding-top: 60px;
  margin-bottom: 5em; }
  @media (min-width: 680px) {
    .page {
      padding-top: 120px; } }

.page__simple {
  margin-top: 30px; }
  @media (min-width: 680px) {
    .page__simple {
      margin-left: 20.5882352941%;
      margin-right: 30px;
      margin-top: .5em; } }
  @media (min-width: 820px) {
    .page__simple {
      margin-left: 17.0731707317%;
      margin-right: 30px;
      margin-top: .5em; } }
  @media (min-width: 960px) {
    .page__simple {
      width: 70.8333333333%;
      margin-left: 14.5833333333%;
      margin-right: auto; } }
  @media (min-width: 1100px) {
    .page__simple {
      width: 74.5454545455%;
      margin-left: 12.7272727273%;
      margin-top: 4em; } }
  @media (min-width: 1240px) {
    .page__simple {
      width: 66.1290322581%;
      margin-left: 11.2903225806%;
      margin-top: 4em; } }
  @media (min-width: 1380px) {
    .page__simple {
      margin-left: 20.2898550725%;
      margin-right: auto; } }

.page__main {
  margin-top: 30px; }
  @media (min-width: 680px) {
    .page__main {
      max-width: 79.4117647059%;
      margin-left: 20.5882352941%;
      margin-right: 30px;
      margin-top: 0; } }
  @media (min-width: 820px) {
    .page__main {
      max-width: 65.8536585366%;
      margin-left: 17.0731707317%;
      margin-right: 0; } }
  @media (min-width: 960px) {
    .page__main {
      max-width: 56.25%;
      margin-left: 14.5833333333%; } }
  @media (min-width: 1100px) {
    .page__main {
      max-width: 49.0909090909%;
      margin-left: 12.7272727273%; } }
  @media (min-width: 1240px) {
    .page__main {
      max-width: 43.5483870968%;
      margin-left: 11.2903225806%;
      margin-top: 4em; } }
  @media (min-width: 1380px) {
    .page__main {
      max-width: 39.1304347826%;
      margin-left: 10.1449275362%;
      margin-top: 4em; } }

.page__aside {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: #6441A5; }
  @media (min-width: 820px) {
    .page__aside {
      display: block;
      width: 14.6341463415%; }
      .is-aside-activated .page__aside {
        left: 120px;
        right: 0;
        width: auto;
        z-index: 9999;
        -webkit-transform: rotate(0);
                transform: rotate(0); } }
  @media (min-width: 960px) {
    .page__aside {
      width: 27.0833333333%;
      box-sizing: content-box;
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
      -webkit-transform-origin: left bottom;
              transform-origin: left bottom;
      top: -50px;
      bottom: -50px;
      right: -50px;
      padding-right: 50px; } }
  @media (min-width: 1100px) {
    .page__aside {
      width: 23.6363636364%; } }
  @media (min-width: 1240px) {
    .page__aside {
      width: 32.2580645161%; } }
  @media (min-width: 1380px) {
    .page__aside {
      width: 28.9855072464%; } }

.page__text {
  font-family: "Benton Modern", Georgia, Times, "Times New Roman", serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2142857143em; }
  .page__text.is-light {
    color: rgba(0, 0, 0, 0.5); }
  @media (min-width: 1240px) {
    .page__text {
      font-size: 1.2857142857em; } }

.page__meta {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 1em; }
  .page__meta.is-s {
    font-size: 0.8571428571em; }
  .page__meta a {
    color: rgba(0, 0, 0, 0.3); }
    .page__meta a:hover {
      color: #6441A5; }

.page__small {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8571428571em;
  color: rgba(0, 0, 0, 0.5); }

.page__intro {
  font-family: BentonModernDisp, Georgia, Times, "Times New Roman", serif;
  font-size: 1.4285714286em;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 2em; }
  @media (min-width: 680px) {
    .page__intro {
      font-size: 1.6428571429em; } }
  @media (min-width: 1240px) {
    .page__intro {
      font-size: 1.8571428571em; } }

.page__date {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8571428571em;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 0.1666666667em; }
  @media (min-width: 1240px) {
    .page__date {
      font-size: 0.9285714286em;
      letter-spacing: 0.1538461538em; } }

.page__title {
  font-family: "klavika-web-display", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1;
  color: #000;
  text-transform: uppercase;
  font-size: 1.6428571429em; }
  @media (min-width: 1240px) {
    .page__title {
      font-size: 1.9285714286em; } }
  .page__title.is-l {
    font-size: 1.9285714286em; }
    @media (min-width: 1240px) {
      .page__title.is-l {
        font-size: 3.1428571429em; } }
  .page__title.is-xl {
    font-size: 44px; }
    @media (min-width: 1240px) {
      .page__title.is-xl {
        font-size: 4.2857142857em; } }
  .page__title a {
    color: #000;
    text-decoration: none; }
    .page__title a:hover {
      color: #6441A5; }

.page__quote {
  font-family: BentonModernDisp, Georgia, Times, "Times New Roman", serif;
  font-size: 2.1428571429em;
  color: #000; }

.page__quote__text {
  font-family: "Benton Modern", Georgia, Times, "Times New Roman", serif;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.6); }

.page__aside__media {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat; }
  .page__aside__media img {
    display: block; }
  .page__aside__media:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: rgba(100, 65, 165, 0.925); }
  .is-aside-activated .page__aside__media:before {
    display: none; }
  .page__aside__media.is-static:before {
    display: none; }
  .page__aside__media.is-centered {
    background-position: center; }

.extra__text {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 0.9285714286em; }
  @media (min-width: 1240px) {
    .extra__text {
      font-size: 1em; } }

.extra__title {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.8571428571em;
  letter-spacing: 0.1666666667em;
  text-transform: uppercase; }
  @media (min-width: 1240px) {
    .extra__title {
      font-size: 0.9285714286em;
      letter-spacing: 0.1538461538em; } }
  .extra__title.is-s {
    font-size: 0.7857142857em;
    letter-spacing: 0.1818181818em; }
    @media (min-width: 1240px) {
      .extra__title.is-s {
        font-size: 0.8571428571em;
        letter-spacing: 0.1666666667em; } }

.nav__item {
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 0.9285714286em;
  color: rgba(0, 0, 0, 0.4); }
  .nav__item a {
    color: rgba(0, 0, 0, 0.4); }
  .nav__item.is-active {
    color: #000; }
    .nav__item.is-active a {
      color: #000; }

.nav__icons {
  font-size: 0;
  color: rgba(0, 0, 0, 0.2); }

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 50;
  background: #fff;
  margin-left: -30px;
  margin-right: -30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 1px; }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 680px) {
    .header {
      position: static;
      width: auto;
      height: auto;
      max-width: 100%;
      overflow: hidden;
      background: transparent;
      margin-left: 0;
      margin-right: 0;
      box-shadow: none; } }

.header__brand::after {
  clear: both;
  content: "";
  display: table; }

@media (min-width: 680px) {
  .header__brand {
    width: 17.6470588235%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; } }

@media (min-width: 820px) {
  .header__brand {
    width: 14.6341463415%; } }

@media (min-width: 960px) {
  .header__brand {
    width: 12.5%; } }

@media (min-width: 1100px) {
  .header__brand {
    width: 10.9090909091%; } }

@media (min-width: 1240px) {
  .header__brand {
    width: 9.6774193548%; } }

@media (min-width: 1380px) {
  .header__brand {
    width: 8.6956521739%; } }

.header__brand__logo {
  float: left;
  width: 60px;
  height: 60px; }
  .header__brand__logo a {
    font-size: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/new_logo.svg");
    background-repeat: no-repeat;
    background-size: 33px 30px;
    background-position: center; }
  @media (min-width: 680px) {
    .header__brand__logo {
      float: none;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      background: rgba(216, 216, 216, 0.25);
      overflow: hidden;
      margin-top: 20px;
      margin-bottom: 20px; }
      .header__brand__logo a {
        font-size: 0;
        display: block;
        width: 43px;
        height: 40px;
        background-size: cover;
        margin-left: 18.5px;
        margin-top: 20px; } }

.header__brand__social {
  float: right;
  width: auto;
  margin-top: .6em;
  margin-right: .6em; }
  @media (min-width: 680px) {
    .header__brand__social {
      float: none;
      margin-top: 0;
      margin-right: 0; } }

.header__brand__social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em; }
  .header__brand__social__item a {
    display: inline-block;
    font-size: 0;
    text-decoration: none;
    opacity: .175; }
  .header__brand__social__item a:hover {
    opacity: 1; }
  .header__brand__social__item.is-email a {
    width: 21px;
    height: 14px;
    background-image: url("../img/icons/letter.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-twitter a {
    width: 20px;
    height: 16px;
    background-image: url("../img/icons/twitter.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-dribbble a {
    width: 19px;
    height: 19px;
    background-image: url("../img/icons/dribbble.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-github a {
    width: 20px;
    height: 19px;
    background-image: url("../img/icons/github.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-nav a {
    width: 16px;
    height: 14px;
    background-image: url("../img/icons/menu.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .header__brand__social__item.is-dribbble, .header__brand__social__item.is-github {
    display: none; }
  @media (min-width: 680px) {
    .header__brand__social__item {
      display: block;
      margin-right: 0;
      text-align: center; }
      .header__brand__social__item:not(:last-child) {
        margin-bottom: .5em; }
      .header__brand__social__item.is-dribbble, .header__brand__social__item.is-github {
        display: block; }
      .header__brand__social__item.is-nav {
        display: none; } }

.header__nav {
  display: none; }
  @media (min-width: 680px) {
    .header__nav {
      display: block;
      position: absolute;
      left: 20.5882352941%;
      top: 0;
      width: auto;
      height: 120px; } }
  @media (min-width: 820px) {
    .header__nav {
      left: 17.0731707317%;
      width: auto; } }
  @media (min-width: 960px) {
    .header__nav {
      left: 14.5833333333%;
      width: auto; } }
  @media (min-width: 1100px) {
    .header__nav {
      left: 12.7272727273%;
      width: 87.2727272727%; }
      .header__nav::after {
        clear: both;
        content: "";
        display: table; } }
  @media (min-width: 1240px) {
    .header__nav {
      left: 11.2903225806%;
      width: 88.7096774194%; } }
  @media (min-width: 1380px) {
    .header__nav {
      left: 10.1449275362%;
      width: 89.8550724638%; } }

@media (min-width: 680px) {
  .header__nav__item {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 120px; }
    .header__nav__item:not(:last-child) {
      margin-right: 1.5em; }
    .header__nav__item a {
      color: rgba(0, 0, 0, 0.35);
      text-decoration: none; }
    .header__nav__item a:hover {
      color: rgba(0, 0, 0, 0.7); }
    .header__nav__item .is-active a {
      color: #000; } }

@media (min-width: 1100px) {
  .header__nav__item {
    display: block;
    float: left;
    width: 14.5833333333%; }
    .header__nav__item:not(:last-child) {
      margin-right: 0; } }

@media (min-width: 1240px) {
  .header__nav__item {
    width: 12.7272727273%; } }

@media (min-width: 1380px) {
  .header__nav__item {
    width: 11.2903225806%; } }

.works__title {
  font-family: "klavika-web-display";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1;
  margin-bottom: .25em;
  margin-top: .25em; }
  @media (min-width: 540px) {
    .works__title {
      font-size: 48px;
      margin-bottom: .15em; } }
  @media (min-width: 820px) {
    .works__title {
      font-size: 60px;
      margin-top: .5em; } }

.works__subtitle {
  font-family: "Benton Modern";
  font-size: 18px;
  line-height: 1.333;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2em; }
  @media (min-width: 540px) {
    .works__subtitle {
      font-size: 20px; } }
  @media (min-width: 820px) {
    .works__subtitle {
      font-family: BentonModernDisp;
      font-size: 24px;
      line-height: 1.333; } }
  @media (min-width: 1240px) {
    .works__subtitle {
      margin-bottom: 3.5em; } }

.works__footer {
  clear: both;
  overflow: auto; }
  @media (min-width: 680px) and (max-width: 820px) {
    .works__footer {
      margin-right: 30px; } }
  @media (min-width: 1240px) {
    .works__footer {
      width: 65.8536585366%;
      margin-left: 17.0731707317%; } }

.works__footer__title {
  font-weight: 900;
  font-size: 20px;
  margin-top: 1.5em;
  margin-bottom: .75em; }
  @media (min-width: 820px) {
    .works__footer__title {
      font-size: 24px;
      margin-top: 2.5em; } }

.works__footer__text {
  font-family: "Benton Modern";
  font-size: 18px;
  line-height: 1.333; }
  .works__footer__text a {
    color: #6441A5; }

.works__posts__item {
  margin-bottom: 5em;
  padding-bottom: 5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07); }

.work__title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1.5em; }
  .work__title span {
    display: none; }
  .w-worldly .work__title {
    width: 124px;
    height: 124px;
    background-image: url("../img/logos/worldly.svg"); }
  .w-thread-council .work__title {
    width: 157px;
    height: 100px;
    background-image: url("../img/logos/thread_council.svg"); }
  .w-consignd .work__title {
    width: 100px;
    height: 100px;
    background-image: url("../img/logos/consignd.svg"); }
  .w-tanga .work__title {
    width: 133px;
    height: 100px;
    background-image: url("../img/logos/tanga.svg"); }
  .w-stayful .work__title {
    width: 378px;
    height: 40px;
    background-image: url("../img/logos/stayful.svg"); }
  .w-educabilia .work__title {
    width: 321px;
    height: 80px;
    background-image: url("../img/logos/educabilia.svg"); }
  .w-wulia .work__title {
    width: 124px;
    height: 124px;
    background-image: url("../img/logos/wulia.svg"); }
  .w-gamamia .work__title {
    width: 110px;
    height: 110px;
    background-image: url("../img/logos/gamamia.svg"); }

@media (min-width: 820px) {
  .work__meta {
    width: 112.962962963%;
    position: relative;
    left: -3.7037037037%;
    z-index: 10; } }

@media (min-width: 960px) {
  .work__meta {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
    overflow: hidden;
    margin-left: -10px; } }

@media (min-width: 1100px) {
  .work__meta {
    width: 138.888888889%; } }

.work__meta__inner {
  background: #291254;
  position: relative;
  z-index: 10;
  margin: 0 -30px;
  padding: 30px; }
  @media (min-width: 680px) {
    .work__meta__inner {
      margin-left: 0;
      margin-right: 0; }
      .work__meta__inner::after {
        clear: both;
        content: "";
        display: table; } }
  @media (min-width: 960px) {
    .work__meta__inner {
      -webkit-transform: skewX(-4deg);
              transform: skewX(-4deg);
      width: 100%;
      margin-left: 10px; } }
  @media (min-width: 1380px) {
    .work__meta__inner {
      margin-left: -25.9259259259%; } }

.work__meta__item {
  font-size: 14px;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075); }
  .work__meta__item::after {
    clear: both;
    content: "";
    display: table; }
  .work__meta__item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0; }
  @media (min-width: 820px) {
    .work__meta__item {
      width: 30%;
      float: left;
      margin-right: 5%;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0; }
      .work__meta__item:last-child {
        float: right;
        margin-right: 0; } }

.work__meta__item__title {
  width: 46.1538461538%;
  float: left;
  margin-right: 7.6923076923%;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1; }
  @media (min-width: 820px) {
    .work__meta__item__title {
      display: block;
      float: none;
      margin-right: 0;
      width: 100%;
      margin-bottom: .75em; } }

.work__meta__item__text {
  width: 46.1538461538%;
  float: right;
  margin-right: 0;
  color: #fff;
  line-height: 1; }
  @media (min-width: 820px) {
    .work__meta__item__text {
      display: block;
      float: none;
      margin-right: 0;
      width: 100%; } }

.work__text {
  margin-top: 3em; }
  .work__text h2 {
    font-family: "klavika-web-display", Helvetica, Arial, sans-serif;
    font-weight: 900;
    line-height: 1;
    color: #000;
    text-transform: uppercase;
    font-size: 1.3529411765em;
    margin: 1.75em 0 0.5em; }
    @media (min-width: 1240px) {
      .work__text h2 {
        font-size: 1.5em; } }
  .work__text h3 {
    font-family: "Benton Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.7647058824em;
    letter-spacing: 0.1538461538em;
    color: #000;
    margin: 2.5em 0 0.75em; }
    @media (min-width: 1240px) {
      .work__text h3 {
        font-size: 0.7777777778em;
        letter-spacing: 0.1428571429em; } }
  .work__text p {
    margin-bottom: 1.333em; }

.work-list::after {
  clear: both;
  content: "";
  display: table; }

.work-list__item {
  width: 46.1538461538%;
  float: left;
  margin-right: 7.6923076923%;
  margin-bottom: 7.6923076923%;
  position: relative; }
  .work-list__item:before {
    content: '';
    display: block;
    padding-top: 56.25%; }
  .work-list__item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-size: 0; }
  .work-list__item.is-worldly a {
    background-image: url("../img/logos/worldly.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 43px 43px; }
    @media (min-width: 540px) {
      .work-list__item.is-worldly a {
        background-size: 86px 86px; } }
    @media (min-width: 1240px) {
      .work-list__item.is-worldly a {
        background-size: 130px 130px; } }
    .work-list__item.is-worldly a:hover {
      border-color: #ecd200; }
  .work-list__item.is-thread-council a {
    background-image: url("../img/logos/thread_council.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 43px 27.666px; }
    @media (min-width: 540px) {
      .work-list__item.is-thread-council a {
        background-size: 86px 55.333px; } }
    @media (min-width: 1240px) {
      .work-list__item.is-thread-council a {
        background-size: 130px 83px; } }
    .work-list__item.is-thread-council a:hover {
      border-color: #000; }
  .work-list__item.is-consignd a {
    background-image: url("../img/logos/consignd.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px; }
    @media (min-width: 540px) {
      .work-list__item.is-consignd a {
        background-size: 60px 60px; } }
    .work-list__item.is-consignd a:hover {
      border-color: #000; }
  .work-list__item.is-tanga a {
    background-image: url("../img/logos/tanga.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 30.5px; }
    @media (min-width: 540px) {
      .work-list__item.is-tanga a {
        background-size: 80px 61px; } }
    .work-list__item.is-tanga a:hover {
      border-color: #37b6e3; }
  .work-list__item.is-stayful a {
    background-image: url("../img/logos/stayful.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85px 8.75px; }
    @media (min-width: 540px) {
      .work-list__item.is-stayful a {
        background-size: 170px 17.5px; } }
    .work-list__item.is-stayful a:hover {
      border-color: #000; }
  .work-list__item.is-educabilia a {
    background-image: url("../img/logos/educabilia.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80.5px 20px; }
    @media (min-width: 540px) {
      .work-list__item.is-educabilia a {
        background-size: 161px 40px; } }
    .work-list__item.is-educabilia a:hover {
      border-color: #c4d367; }
  .work-list__item.is-wulia a {
    background-image: url("../img/logos/wulia.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 37.5px 37.5px; }
    @media (min-width: 540px) {
      .work-list__item.is-wulia a {
        background-size: 75px 75px; } }
    .work-list__item.is-wulia a:hover {
      border-color: #1593a5; }
  .work-list__item.is-gamamia a {
    background-image: url("../img/logos/gamamia.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px; }
    @media (min-width: 540px) {
      .work-list__item.is-gamamia a {
        background-size: 60px 60px; } }
    .work-list__item.is-gamamia a:hover {
      border-color: #fa5555; }
  .work-list__item:nth-child(2n) {
    float: right;
    margin-right: 0; }
  @media (min-width: 680px) {
    .work-list__item {
      width: 48.1481481481%;
      float: left;
      margin-right: 3.7037037037%;
      margin-bottom: 3.7037037037%; }
      .work-list__item:nth-child(2n) {
        float: right;
        margin-right: 0; } }
  @media (min-width: 1240px) {
    .work-list__item {
      width: 31.7073170732%;
      float: left;
      margin-right: 2.4390243902%;
      margin-bottom: 2.4390243902%; }
      .work-list__item:nth-child(2n) {
        width: 31.7073170732%;
        float: left;
        margin-right: 2.4390243902%; }
      .work-list__item:nth-child(3n + 2) {
        float: right;
        margin-right: 0; }
      .work-list__item:nth-child(1) {
        width: 48.7804878049%;
        float: left;
        margin-right: 2.4390243902%; }
      .work-list__item:nth-child(2) {
        width: 48.7804878049%;
        float: right;
        margin-right: 0; } }

.writing__text {
  margin-top: 4em; }

.writing__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center; }

.writing__end {
  text-align: center;
  margin-top: 5em;
  padding-bottom: 4.5em;
  position: relative; }
  .writing__end:before {
    content: '';
    display: block;
    font-size: 13px;
    position: absolute;
    bottom: .5em;
    left: 25%;
    right: 25%;
    border-top: 1px solid rgba(0, 0, 0, 0.15); }
  .writing__end:after {
    content: 'x';
    display: block;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -1.5em;
    color: rgba(0, 0, 0, 0.25);
    padding: 0 1em;
    background: #fff; }

.writing__extra {
  text-align: center;
  margin-top: 2.5em; }

.writing__extra__title {
  margin-bottom: .75em; }

.writing__discuss__item {
  display: inline-block;
  vertical-align: middle; }
  .writing__discuss__item:not(:last-child) {
    margin-right: .5em; }
  .writing__discuss__item.is-twitter a {
    font-size: 0;
    text-decoration: none;
    display: block;
    width: 25px;
    height: 20px;
    background-image: url("../img/icons/twitter-filled.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .writing__discuss__item.is-facebook a {
    font-size: 0;
    text-decoration: none;
    display: block;
    width: 12px;
    height: 23px;
    background-image: url("../img/icons/facebook-filled.svg");
    background-repeat: no-repeat;
    background-size: cover; }

@media (min-width: 680px) and (max-width: 820px) {
  .writing-list {
    margin-right: 30px; } }

.writing-list__item::after {
  clear: both;
  content: "";
  display: table; }

.writing-list__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 2em;
  padding-bottom: 2em; }
  @media (min-width: 1240px) {
    .writing-list__item:not(:last-child) {
      margin-bottom: 2.5em;
      padding-bottom: 2.5em; } }

.writing-list__item__main {
  margin-bottom: 1em; }
  @media (min-width: 540px) {
    .writing-list__item__main {
      float: left;
      width: auto;
      margin-bottom: 0; } }

@media (min-width: 540px) {
  .writing-list__item__extra {
    float: right;
    width: auto;
    text-align: right; } }

@media (min-width: 540px) {
  .writing-list__item__date {
    margin-top: .4em;
    margin-bottom: .1em; } }

.post::after {
  clear: both;
  content: "";
  display: table; }

@media (min-width: 680px) and (max-width: 820px) {
  .post {
    margin-right: 30px; } }

.post__media {
  margin-bottom: 1.75em; }
  .post__media::after {
    clear: both;
    content: "";
    display: table; }
  .is-vimeo .post__media, .is-youtube .post__media {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0; }
    .is-vimeo .post__media iframe, .is-youtube .post__media iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .post__media img {
    width: 100%;
    display: block; }
    .post__media img:not(:first-child) {
      display: none; }
    @media (min-width: 680px) {
      .post__media img:not(:first-child) {
        display: block; } }
  @media (min-width: 680px) {
    .is-left .post__media {
      width: 48.7804878049%;
      float: left;
      margin-right: 2.4390243902%;
      padding-right: 20px;
      margin-bottom: 0; }
      .is-left .post__media img:not(:first-child) {
        margin-top: 10px; } }
  @media (min-width: 680px) {
    .is-right .post__media {
      width: 48.7804878049%;
      float: right;
      margin-right: 0;
      padding-left: 20px;
      margin-bottom: 0; }
      .is-right .post__media img:not(:first-child) {
        margin-top: 10px; } }
  @media (min-width: 680px) {
    .is-top.is-count-2 .post__media img {
      width: calc(50% - 5px);
      float: left; }
      .is-top.is-count-2 .post__media img:not(:first-child) {
        margin-left: 10px; } }
  @media (min-width: 680px) {
    .is-top.is-count-3 .post__media img {
      width: calc(33% - 8px);
      float: left; }
      .is-top.is-count-3 .post__media img:not(:first-child) {
        margin-left: 12px; } }

@media (min-width: 680px) {
  .is-left .post__content {
    width: 48.7804878049%;
    float: right;
    margin-right: 0; } }

@media (min-width: 680px) {
  .is-right .post__content {
    width: 48.7804878049%;
    float: left;
    margin-right: 2.4390243902%; } }

@media (min-width: 1240px) {
  .is-top .post__content__meta {
    width: 31.7073170732%;
    float: left;
    margin-right: 2.4390243902%; } }

.post__content__text {
  margin-top: 1em; }
  @media (min-width: 1240px) {
    .post__content__text {
      margin-top: 2em; }
      .is-top .post__content__text {
        width: 48.7804878049%;
        float: left;
        margin-right: 2.4390243902%;
        margin-top: 0; } }

.post__content__share {
  margin-top: 2em; }
  @media (min-width: 1240px) {
    .post__content__share {
      margin-top: 4em; }
      .is-top .post__content__share {
        width: 14.6341463415%;
        float: right;
        margin-right: 0;
        text-align: right;
        margin-top: 0; } }

.post__content__share__item {
  display: inline-block;
  vertical-align: middle; }
  .post__content__share__item:not(:last-child) {
    margin-right: .25em; }
  .post__content__share__item a {
    opacity: 0.5; }
    .post__content__share__item a:hover {
      opacity: 1; }
  .post__content__share__item.is-twitter a {
    font-size: 0;
    text-decoration: none;
    display: block;
    width: 16px;
    height: 12px;
    background-image: url("../img/icons/twitter-filled.svg");
    background-repeat: no-repeat;
    background-size: cover; }
  .post__content__share__item.is-facebook a {
    font-size: 0;
    text-decoration: none;
    display: block;
    width: 7px;
    height: 13px;
    background-image: url("../img/icons/facebook-filled.svg");
    background-repeat: no-repeat;
    background-size: cover; }

.journal-list__item:not(:last-child) {
  margin-bottom: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
  @media (min-width: 680px) {
    .journal-list__item:not(:last-child) {
      margin-bottom: 4em;
      padding-bottom: 4em; } }
  @media (min-width: 1240px) {
    .journal-list__item:not(:last-child) {
      margin-bottom: 5em;
      padding-bottom: 5em; } }

.home-logo {
  width: 99px;
  height: 92.5px;
  background-image: url("../img/new_logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 16.8674698795%;
  margin-left: 8.4337349398%; }
  .home-logo span {
    display: none; }
  @media (min-width: 680px) {
    .home-logo {
      margin-top: 8.4337349398%; } }

.home-tag {
  margin-left: 8.4337349398%;
  margin-top: 4.2168674699%;
  font-family: BentonModernDisp, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.9); }
  @media (min-width: 680px) {
    .home-tag {
      font-size: 2.4285714286em; } }
  @media (min-width: 1240px) {
    .home-tag {
      font-size: 2.8571428571em; } }

.home-list {
  position: absolute;
  bottom: 0;
  left: 8.4337349398%;
  right: 8.4337349398%;
  padding-bottom: 1em;
  border-bottom: 5px solid #6441A5; }

.home-list__item {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1538461538em;
  font-size: 0.9285714286em;
  padding: 3px; }
  .home-list__item:not(:last-child) {
    margin-right: 3em; }
  .home-list__item a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none; }
    .home-list__item a:hover {
      color: #291254; }
  @media (min-width: 820px) {
    .home-list__item {
      letter-spacing: 0.1428571429em;
      font-size: 1em; } }

.about__content {
  color: rgba(0, 0, 0, 0.6); }
  .about__content p {
    margin-bottom: 1em; }
    .about__content p.is-separated {
      margin-top: 3em; }
    @media (min-width: 820px) {
      .about__content p {
        max-width: 65.8536585366%; } }
    @media (min-width: 960px) {
      .about__content p {
        max-width: 79.4117647059%; } }
    @media (min-width: 1100px) {
      .about__content p {
        max-width: 65.8536585366%; } }
    @media (min-width: 1240px) {
      .about__content p {
        max-width: 65.8536585366%; } }
    @media (min-width: 1380px) {
      .about__content p {
        max-width: 65.8536585366%; } }
  .about__content a {
    color: rgba(100, 65, 165, 0.95);
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    border-bottom: 1px solid rgba(100, 65, 165, 0.2); }
    .about__content a:hover {
      color: #291254;
      border-color: rgba(41, 18, 84, 0.6); }
  .about__content strong {
    color: rgba(0, 0, 0, 0.8); }

.about__content__image {
  margin-top: 1.5em; }
  .about__content__image img {
    display: block;
    width: 100%; }
  @media (min-width: 1240px) {
    .about__content__image {
      width: 117.073170732%; } }
  @media (min-width: 1380px) {
    .about__content__image {
      width: 117.073170732%; } }

.content-in-progress {
  background: rgba(0, 0, 0, 0.05);
  padding: 1.5em;
  font-family: "Benton Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8571428571em;
  position: relative;
  margin-bottom: 5em;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 50px; }
  .content-in-progress:before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../img/icons/pencil.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: -50px;
    margin-top: -18px;
    opacity: .6; }
/*# sourceMappingURL=martinbavio.css.map */