---
layout: base
---
<div class="page__main">
  <h1 class="page__title work__title"><span>{{ page.title }}</span></h1>
  <p class="page__intro work__intro">{{ page.intro }}</p>
  <div class="work__meta">
    <div class="work__meta__inner">
      <ul>
        <li class="work__meta__item">
          <div class="extra__title is-s work__meta__item__title">Client</div>
          <div class="extra__text work__meta__item__text">{{ page.client }}</div>
        </li>
        <li class="work__meta__item">
          <div class="extra__title is-s work__meta__item__title">Position</div>
          <div class="extra__text work__meta__item__text">{{ page.position }}</div>
        </li>
        <li class="work__meta__item">
          <div class="extra__title is-s work__meta__item__title">Date</div>
          <div class="extra__text work__meta__item__text">{{ page.date }}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="page__text work__text">{{ content }}</div>
</div>
<div class="page__aside work__aside">
  {% if page.collage != null %}
    <div class="page__aside__media work__aside__media" style="background-image: url(/img/collages/{{ page.client | downcase | replace:' ','-' }}.jpg)"></div>
  {% endif %}
</div>

{% if page.collage != null %}
  <div class="work__disable-aside"><span>Back</span></div>
{% endif %}
