---
layout: base
---
<div class="content__main">
  <h1 class="content__main__title">{{ page.title }}</h1>
  <p class="content__main__intro">{{ page.intro }}</p>
  <div class="content__main__meta__wrapper">
    <div class="content__main__meta">
      <div class="is-inner">
        <ul>
          <li class="content__main__meta__item">
            <div class="is-label">Client</div>
            <div class="is-definition">Worldly</div>
          </li>
          <li class="content__main__meta__item">
            <div class="is-label">Position</div>
            <div class="is-definition">Lead Designer</div>
          </li>
          <li class="content__main__meta__item">
            <div class="is-label">Date</div>
            <div class="is-definition">Jul 2014 - Jun 2015</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content__main__text">{{ content }}</div>
</div>
<div class="content__aside"></div>
