---
layout: base
---
<div class="page__main">
  <div class="page__title is-xl">{{ page.title }}</div>
  <div class="page__date">{{ page.date | date: "%b %-d, %Y" }}</div>
  <div class="page__text writing__text">{{ content }}</div>
  <div class="page__small writing__end">This writing took 4 days to be completed and was published on July 9th, 2015.</div>
  <div class="writing__extra">
    <div class="extra__title writing__extra__title">Discuss</div>
    <ul class="writing__discuss">
      <li class="writing__discuss__item is-twitter"><a href="#">Twitter</a></li>
      <li class="writing__discuss__item is-facebook"><a href="#">Facebook</a></li>
    </ul>
  </div>
  <div class="writing__extra">
    <div class="extra__title writing__extra__title">Read Next</div>
    <div class="page__title"><a href="#">A New Story</a></div>
  </div>
</div>
<div class="page__aside">
  <div class="page__aside__media is-static is-centered" style="background-image: url(https://static.pexels.com/photos/6807/sky-woman-clouds-sun.jpg)"></div>
</div>
