$color-black:           #000;
$color-white:           #fff;
$color-brand:           #6441A5;
$color-brand-dark:      #291254;

$color-twitter:         #ddd;
$color-dribbble:        #aaa;
$color-github:          #000;

$color-worldly:         #ecd200;
$color-thread-council:  #000;
$color-consignd:        #000;
$color-tanga:           #37b6e3;
$color-stayful:         #000;
$color-educabilia:      #c4d367;
$color-wulia:           #1593a5;
$color-gamamia:         #fa5555;
