.work__title {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1.5em;

  span {
    display: none;
  }

  .w-worldly & {
    width: 124px;
    height: 124px;
    background-image: url('../img/logos/worldly.svg');
  }

  .w-thread-council & {
    width: 157px;
    height: 100px;
    background-image: url('../img/logos/thread_council.svg');
  }

  .w-consignd & {
    width: 100px;
    height: 100px;
    background-image: url('../img/logos/consignd.svg');
  }

  .w-tanga & {
    width: 133px;
    height: 100px;
    background-image: url('../img/logos/tanga.svg');
  }

  .w-stayful & {
    width: 378px;
    height: 40px;
    background-image: url('../img/logos/stayful.svg');
  }

  .w-educabilia & {
    width: 321px;
    height: 80px;
    background-image: url('../img/logos/educabilia.svg');
  }

  .w-wulia & {
    width: 124px;
    height: 124px;
    background-image: url('../img/logos/wulia.svg');
  }

  .w-gamamia & {
    width: 110px;
    height: 110px;
    background-image: url('../img/logos/gamamia.svg');
  }
}

.work__meta {
  @include on-columns(6) {
    width: span(4.5 of 4);
    position: relative;
    left: -1 * gutter(4);
    z-index: 10;
  }

  @include on-columns(7) {
    transform: skewX(4deg);
    overflow: hidden;
    margin-left: -10px;
  }

  @include on-columns(8) {
    width: span(5.5 of 4);
  }
}

.work__meta__inner {
  background: $color-brand-dark;
  position: relative;
  z-index: 10;
  margin: 0 (-$grid-margin-side);
  padding: $grid-margin-side;

  @include on-columns(5) {
    @include clearfix;
    margin-left: 0;
    margin-right: 0;
  };

   @include on-columns(7) {
    transform: skewX(-4deg);
    width: 100%;
    margin-left: 10px;
  };

  @include on-columns(10) {
    margin-left: -1 * span(1 of 4 wide);
  };
}

.work__meta__item {
  @include clearfix;
  font-size: 14px;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(#fff, .075);

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }

  @include on-columns(6) {
    @include span(1 of 3);
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;

    &:last-child {
      @include last;
    }
  }
}

.work__meta__item__title {
  @include span(1 of 2);
  color: rgba($color-white, .5);
  line-height: 1;

  @include on-columns(6) {
    display: block;
    float: none;
    margin-right: 0;
    width: 100%;
    margin-bottom: .75em;
  }
}

.work__meta__item__text {
  @include span(1 of 2 last);
  color: $color-white;
  line-height: 1;

  @include on-columns(6) {
    display: block;
    float: none;
    margin-right: 0;
    width: 100%;
  }
}

.work__text {
  margin-top: 3em;

  h2 {
    font-family: $font-display;
    font-weight: 900;
    line-height: 1;
    color: $color-black;
    text-transform: uppercase;
    font-size: em(23px, 17px);
    margin: 1.75em 0 .5em;

    @include on-columns(9) {
      font-size: em(27px, 18px);
    }
  }

  h3 {
    font-family: $font-sans-serif;
    text-transform: uppercase;
    font-size: em(13px, 17px);
    letter-spacing: em(2px, 13px);
    color: $color-black;
    margin: 2.5em 0 .75em;

    @include on-columns(9) {
      font-size: em(14px, 18px);
      letter-spacing: em(2px, 14px);
    }
  }

  p {
    margin-bottom: 1.333em;
  }
}

.work__disable-aside {
  display: none;
  position: fixed;
  bottom: 1.5em;
  left: 0;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  font-size: em(11px, $font-size-base);
  letter-spacing: em(1px, 11px);
  color: $color-brand;

  span {
    cursor: pointer;
    opacity: .8;
    display: inline-block;

    &:hover {
      opacity: 1;

      &:before {
        opacity: 1;
      }
    }
  }

  span:before {
    content: '';
    display: block;
    width: 19px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    background-image: url('../img/icons/arrow-left-purple.svg');
    margin-bottom: .5em;
    opacity: .9;
  }

  .is-aside-activated & {
    display: block;
  }
}
